.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  max-width: 480px;
  background-color: #f7931a;
  border-radius: 6px;
  border: 1px solid black;
  margin: 8px;
  position: absolute;
  right: -10px;
  bottom: -80px;

  animation: fadeInRight .5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
