.subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  padding: 8px;
}

.text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.button {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  background-color: #f7931a;
  cursor: pointer;
}

.button:hover {
  opacity: .7;
  outline: black;
}

@media (min-width: 426px) {

  .form {
    width: 60%;
  }

}
