.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  opacity: 0;
  position: relative;
  left: -30px;
}

.effect {
  opacity: 1;
  left: 0;
  transition: 1s linear;
}
